.newProduct {
    flex   : 4;
    padding: 20px;
}

.addProductForm {
    margin-top : 10px;
    display    : flex;
    flex-wrap  : wrap;
    align-items: center;
}

.addProductItem {
    width         : 250px;
    display       : flex;
    flex-direction: column;
    margin-bottom : 10px;
    padding       : 30px;
}

.addProductImg {
    width          : 180px;
    height         : 180px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.addProductImg img {
    max-width: 180px;
}

.addProductImg video {
    max-width: 180px;
}

.addProductItem>label {
    color        : gray;
    font-weight  : 600;
    margin-bottom: 10px;
}

.addProductItem>input {
    padding: 10px;
}

.addProductItem>input[type=file] {
    padding: 0;
}

.addProductItem>select {
    padding: 10px;
}

.addProductButton {
    margin-top      : 20px;
    padding         : 9px 10px;
    border          : none;
    border-radius   : 10px;
    background-color: #3bb077;
    color           : white;
    font-weight     : 600;
    cursor          : pointer;
    font-size       : 18px;
    text-transform  : uppercase;
}